In [26]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

test = pd.read_csv('Test.csv')
train = pd.read_csv('Train.csv')

### Encoding

In [27]:
train['bank_account'].value_counts()

No     20212
Yes     3312
Name: bank_account, dtype: int64

In [28]:
train['relationship_with_head'].value_counts()

Head of Household      12831
Spouse                  6520
Child                   2229
Parent                  1086
Other relative           668
Other non-relatives      190
Name: relationship_with_head, dtype: int64

In [29]:
# Label Encoding
from sklearn.preprocessing import LabelEncoder, OrdinalEncoder

train
train[['uniqueid', 'bank_account', 'location_type', 'cellphone_access', 'gender_of_respondent', 'relationship_with_head', 'marital_status']] = train[['uniqueid', 'bank_account', 'location_type', 'cellphone_access', 'gender_of_respondent', 'relationship_with_head', 'marital_status']].apply(LabelEncoder().fit_transform)
train['relationship_with_head'].value_counts()

1    12831
5     6520
0     2229
4     1086
3      668
2      190
Name: relationship_with_head, dtype: int64

In [30]:
train = train.replace({'country' : {'Kenya':1, 'Rwanda':2, 'Tanzania':3, 'Uganda':4}})
train.tail()

,country,year,uniqueid,bank_account,location_type,cellphone_access,household_size,age_of_respondent,gender_of_respondent,relationship_with_head,marital_status,education_level,job_type
23519,4,2018,1239,0,0,1,4,48,0,1,0,No formal education,Other Income
23520,4,2018,1240,0,0,1,2,27,0,1,3,Secondary education,Other Income
23521,4,2018,1241,0,0,1,5,27,0,4,4,Primary education,Other Income
23522,4,2018,1242,0,1,1,7,30,0,4,0,Secondary education,Self employed
23523,4,2018,1243,0,0,1,10,20,1,0,3,Secondary education,No Income

In [31]:
# Oridinal Encoding
ord_enc = OrdinalEncoder()
train[['education_level', 'job_type']] = ord_enc.fit_transform(train[['education_level', 'job_type']])
train.head()

,country,year,uniqueid,bank_account,location_type,cellphone_access,household_size,age_of_respondent,gender_of_respondent,relationship_with_head,marital_status,education_level,job_type
0,1,2018,0,1,0,1,3,24,0,5,2,3.0,9.0
1,1,2018,1111,0,0,0,5,70,0,1,4,0.0,4.0
2,1,2018,2222,1,1,1,5,26,1,3,3,5.0,9.0
3,1,2018,3333,0,0,1,5,34,0,1,2,2.0,3.0
4,1,2018,4444,0,1,0,8,26,1,0,3,2.0,5.0

In [32]:
train.isnull().sum()

country                   0
year                      0
uniqueid                  0
bank_account              0
location_type             0
cellphone_access          0
household_size            0
age_of_respondent         0
gender_of_respondent      0
relationship_with_head    0
marital_status            0
education_level           0
job_type                  0
dtype: int64

In [33]:
train.corr()

,country,year,uniqueid,bank_account,location_type,cellphone_access,household_size,age_of_respondent,gender_of_respondent,relationship_with_head,marital_status,education_level,job_type
country,1.000000,-0.094991,-0.054307,-0.161362,0.152285,-0.150003,-0.119158,-0.058778,-0.027055,0.130408,0.009282,-0.050706,0.381066
year,-0.094991,1.000000,-0.238110,0.112318,0.214621,-0.066505,-0.052264,-0.019330,0.000317,0.001801,-0.026187,0.173869,0.266323
uniqueid,-0.054307,-0.238110,1.000000,-0.022321,-0.075252,0.028067,0.022229,0.014326,0.003552,-0.014321,0.005249,-0.049955,-0.104799
bank_account,-0.161362,0.112318,-0.022321,1.000000,0.087288,0.209669,-0.028326,0.019429,0.117234,-0.070853,-0.038739,0.323768,-0.064171
location_type,0.152285,0.214621,-0.075252,0.087288,1.000000,-0.085238,-0.257284,-0.047373,0.012924,0.017042,0.080406,0.126128,0.368606
cellphone_access,-0.150003,-0.066505,0.028067,0.209669,-0.085238,1.000000,0.091360,-0.103611,0.102370,-0.048705,-0.094195,0.252970,-0.146141
household_size,-0.119158,-0.052264,0.022229,-0.028326,-0.257284,0.091360,1.000000,-0.129729,0.014576,0.104048,-0.127737,0.001613,-0.156835
age_of_respondent,-0.058778,-0.019330,0.014326,0.019429,-0.047373,-0.103611,-0.129729,1.000000,0.012745,-0.151477,0.222908,-0.352970,-0.102770
gender_of_respondent,-0.027055,0.000317,0.003552,0.117234,0.012924,0.102370,0.014576,0.012745,1.000000,-0.472048,-0.103238,0.119883,-0.029734
relationship_with_head,0.130408,0.001801,-0.014321,-0.070853,0.017042,-0.048705,0.104048,-0.151477,-0.472048,1.000000,-0.142229,-0.017141,0.041006
marital_status,0.009282,-0.026187,0.005249,-0.038739,0.080406,-0.094195,-0.127737,0.222908,-0.103238,-0.142229,1.000000,-0.123628,0.056011
education_level,-0.050706,0.173869,-0.049955,0.323768,0.126128,0.252970,0.001613,-0.352970,0.119883,-0.017141,-0.123628,1.000000,0.043823
job_type,0.381066,0.266323,-0.104799,-0.064171,0.368606,-0.146141,-0.156835,-0.102770,-0.029734,0.041006,0.056011,0.043823,1.000000

### Splitting Data

In [34]:
x = train.drop(columns='bank_account')
# x = train[['location_type', 'gender_of_respondent', 'marital_status']]
y = train['bank_account']
x

,country,year,uniqueid,location_type,cellphone_access,household_size,age_of_respondent,gender_of_respondent,relationship_with_head,marital_status,education_level,job_type
0,1,2018,0,0,1,3,24,0,5,2,3.0,9.0
1,1,2018,1111,0,0,5,70,0,1,4,0.0,4.0
2,1,2018,2222,1,1,5,26,1,3,3,5.0,9.0
3,1,2018,3333,0,1,5,34,0,1,2,2.0,3.0
4,1,2018,4444,1,0,8,26,1,0,3,2.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...
23519,4,2018,1239,0,1,4,48,0,1,0,0.0,7.0
23520,4,2018,1240,0,1,2,27,0,1,3,3.0,7.0
23521,4,2018,1241,0,1,5,27,0,4,4,2.0,7.0
23522,4,2018,1242,1,1,7,30,0,4,0,3.0,9.0
23523,4,2018,1243,0,1,10,20,1,0,3,3.0,6.0

In [36]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=0)

len(x_train)

16466

### Regression

In [38]:
# from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier

clf = KNeighborsClassifier(n_neighbors=84)
clf.fit(x_train, y_train)

# lr = LogisticRegression(max_iter=700)k
# lr.fit(x_train, y_train)

KNeighborsClassifier(n_neighbors=84)

In [39]:
y_pred = clf.predict(x_test)

C:\Users\MARINE\anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:228: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)

### Evaluating the model

In [43]:
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error, median_absolute_error, accuracy_score, balanced_accuracy_score, average_precision_score, brier_score_loss, roc_auc_score, confusion_matrix 
r2_score(y_test, y_pred)

-0.16951118475559235

In [50]:
# using score() method
lr.score(x_test, y_test)

0.8760272031737036

In [47]:
# mean squared error
mean_squared_error(y_test, y_pred)

0.1239727968262964

In [51]:
# mean absolute error
mean_absolute_error(y_test, y_pred)

0.1239727968262964

In [54]:
# mean_square_root
mean_squared_error(y_test, y_pred, squared=False)

0.35209770920342043

In [56]:
# median_absolute_error
median_absolute_error(y_test, y_pred)

0.0

In [42]:
# accuracy_score
accuracy_score(y_test, y_pred)

0.8550580901105129

In [59]:
# balanced accuracy score
balanced_accuracy_score(y_test, y_pred)

0.6006708387200266

In [61]:
# average_precision_score
average_precision_score(y_test, y_pred)

0.24722192834549678

In [62]:
# brier_score_loss
brier_score_loss(y_test, y_pred)

0.1239727968262964

In [64]:
# roc_auc_score
roc_auc_score(y_test, y_pred)

0.6006708387200266

In [44]:
confusion_matrix(y_test, y_pred)

array([[6035,    0],
       [1023,    0]], dtype=int64)

### other scoring measures
### mean squared error
### mean absolute error
### model score

### Type of chart to use
### Assumptions of models
### Type of model depending on the data
### Types of variables
###  Methods of model evaluation and why